.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
{
		padding:0;
		margin: 0;
	}
#menu{
		width:200px;
		height: 100px;
		position: fixed;
		background: transparent;
	}
#menu ul{
	padding-top: 25px;
	margin-left: -30px;
	margin-right: 20px;

}
	
#menu ul a{
	text-decoration: none;
	color: black;
	font: 16px Verdana;
	display:block;
	background: #0489B1;
	margin-bottom: 10px;
	padding:10px 20px 10px 40px;
	border-radius: 15px;
	transition: backgrpund .6s, margin-left .6s, margin-right .6s;
	-webkit-transition: backgrpund .6s, margin-left .6s, margin-right .6s;
	-moz-transition: backgrpund .6s, margin-left .6s, margin-right .6s;
	-o-transition: backgrpund .6s, margin-left .6s, margin-right .6s;
}
#menu ul a:hover{
	margin-right: -20px;
	margin-left: 20px;
	background: #00BFFF;*/
}
body{
	background-color: powderblue;
}
h1{color:black;
}
p{
	color:black;
}
