.form{
	position: relative;		
	width: 500px;
	height: 930px;
	padding-left: 20px;
	padding-top:15px;
	background-color: #e5dfcd; 
	border-radius: 20px;
	margin: auto;
}
input[type=button] [type=button]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 150px;
	border:0px;
	background-color: #32A43E;
}